<div class="body">
  <mat-card [class.empty]="messageQueue.length === 0" class="chat-messages-all">
    <div *ngIf="messageQueue.length > 0">
      <div *ngFor="let message of messageQueue">
        <mat-card [ngClass]="{'chat-message': true, 'bot': message.user === 'Bot'}">
          <span [ngClass]="{'user-message': message.user === 'User', 'bot-message': message.user === 'Bot'}">{{ message.user }}: </span>{{ message.message }}
        </mat-card>
      </div>
    </div>
    <div *ngIf="messageQueue.length === 0" class="empty">
      No messages
    </div>
    <button *ngIf="messageQueue.length !== 0" (click)="clearTheChat()" class="clear-button">Clear the Chat</button>
  </mat-card>

  <div class="chat-input">
    <input class="input-user" type="text" [(ngModel)]="userMessage" (keyup.enter)="sendMessage('User')" placeholder="Type your message..." />
    <button (click)="sendMessage('User')">Send</button>

    <input class="input-bot" type="text" [(ngModel)]="botMessage" (keyup.enter)="sendMessage('Bot')" placeholder="Type your message..." />
    <button style="background-color: firebrick" (click)="sendMessage('Bot')">Send as Bot (Test)</button>
  </div>

<!--  <div class="chat-output">-->
<!--    <div *ngFor="let message of messageQueue">-->
<!--      <span [ngClass]="{'user-message': message.user === 'User', 'bot-message': message.user === 'Bot'}">{{ message.user }}: </span>{{ message.message }}-->
<!--    </div>-->
<!--  </div>-->

</div>

