<div class="body">
  <mat-card [class.empty]="messages.length === 0" class="chat-messages-all">
    <div *ngIf="messages.length > 0">
      <div *ngFor="let message of messages">
        <mat-card class="chat-message">
          {{ message }}
        </mat-card>
      </div>
    </div>
    <div *ngIf="messages.length === 0" class="empty">
      No messages
    </div>
  </mat-card>

  <div class="chat-input">
    <input class="input-user" type="text" (keyup.enter)="sendMessage()" placeholder="Type your message..." />
    <button (click)="sendMessage()">Send</button>

  </div>
</div>

