<div class="body">
  <mat-card [class.empty]="messages.length === 0" class="chat-messages">
    <div *ngFor="let message of messages" class="chat-message"> {{ message }}</div>
  </mat-card>

  <mat-card [class.emptyBot]="messagesBot.length === 0" class="chat-messages-bot">
    <div *ngFor="let messageBot of messagesBot" class="chat-message-bot"><span style="font-family: Gill Sans, sans-serif;">Chatbot:</span> {{ messageBot }}</div>
  </mat-card>

  <div class="chat-input">
    <input class="input-user" type="text" (keyup.enter)="sendMessage()" placeholder="Type your message..." />
    <button (click)="sendMessage()">Send</button>

    <input class="input-bot" type="text" (keyup.enter)="sendMessage2()" placeholder="Type your message..." />
    <button style="background-color: firebrick" (click)="sendMessage2()">SendBot</button>
  </div>
</div>





<!--<mat-card [class.empty]="messages.length === 0" class="chat-messages">-->
<!--  <div class="chat-message" *ngFor="let message of messages">{{ message }}</div>-->
<!--</mat-card>-->

<!--<div class="chat-input">-->
<!--  <input type="text" (keyup.enter)="sendMessage()" placeholder="Type your message..." />-->
<!--  <button (click)="sendMessage()">Send</button>-->
<!--</div>-->
